* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.container {
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.img-container {
  height: 11cm;
  margin: 10px;
}

.shorter .img-container {
  height: 6cm;
}

.panel {
  width: 22em;
  background-color: white;
  border: 1px solid;
  text-align: center;
  margin: 10px auto;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/*NAVIGATION*/

nav {
  background-color: white;
  text-align: left;
  position: sticky;
  top: 0;
  padding-top: 20px;
  height: 10vh;
  border-bottom: 1px solid seagreen;
  width: 100%;
  z-index: 10;
}

nav button {
  width: 6em;
  padding: 0px 10px;
  background-color: white;
  border: none;
  font-size: 20px;
}

.nav-button:hover {
  text-decoration: underline solid 2px seagreen;
}

/*INTRO*/

#intro {
  background-image: url("art/intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15cm;
  border-bottom: 1px solid seagreen;
}

#welcome {
  width: 20vw;
  position: relative;
  top: 120px;
  height: max-content;
  margin: 0 auto;
  background-color: rgba(256, 256, 256, 0.8);
  padding: 10px;
  text-align: center;
  font-size: 48px;
  bottom: 100px;
}

/*ART SECTION*/

#art {
  text-align: center;
  margin: 20px;
}

.panel h2 {
  padding: 10px;
}

img {
  border: 4px solid blanchedalmond;
  max-width: 400px;
  max-height: 400px;
}

.panel p {
  padding: 30px 20px;
  font-family: "Georgia";
  font-style: italic;
}

.panel button {
  margin: 15px;
  width: 80%;
  border: none;
  color: rgba(49, 139, 87, 1);
  background-color: white;
  border: solid 1px rgba(49, 139, 87, 1);
  border-radius: 10px;
}

.panel button:hover {
  background-color: seagreen;
  color: white;
}

.panel button:active {
  background-color: rgba(49, 139, 87, 0.3);
  color: seagreen;
  text-decoration: none;
}
